
.transaction-row {
    margin: 1.5rem 5rem;
    background-color: var(--lightest-slate);
    border-radius: 1rem;
    padding: 1rem;

    td {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

}