
.departure-details-container {
    margin: 3rem 4rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    gap: 4rem;
    position: relative;

    .first-column {
        flex: 1;
    }

    .second-column {
        flex: 2;
    }

}