
.all-stations-container {
    margin-top: 3rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    min-height: 42vh;

    h1 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    span.note {
        position: absolute;
        bottom: 5%;
    }
}