@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$custom-primary: mat-palette(var(--red));
$custom-accent: mat-palette(var(--green));

$custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary,
        $custom-accent,
        $custom-warn);

@include angular-material-theme($custom-theme);