<div class="departures-timetable-container">
    
    <div class="filtering-column">
        <app-departure-filtering (searchEvent)="search($event)" 
        ></app-departure-filtering>
    </div>

    <div class="table-column">
        <app-departures-table (pageChangedEvent)="pageChanged($event)" 
        [page]="page" 
        [pageSize]="pageSize"
        [totalElements]="totalElements"
        [dataSource]="dataSource"
        (goToDetailsPageEvent)="goToDetails($event)">
    </app-departures-table>
    </div>

</div>