
.login-container {

    margin-top: 1rem;

    h3 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    mat-form-field {
        margin-top: 1rem;
        width: 45%;
    }

    form {
        margin-bottom: 1.5rem;
    }

    a {
        color: var(--light-navy);
    }

    button.login-btn {
        font-size: 1.3rem;
        border-radius: 1rem;
        margin: 1rem 0rem;
    }

    .or-paragraph {
        font-weight: bold;
        font-size: 1.2rem;
    }

    div.socials {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .microsoft-btn {
        position: relative;
        display: flex !important;
        align-items: center;
        text-align: center;
        width: 200px;
        font-size: 14px;
        font-weight: 400;
        background-color: white;
        color: black;
        cursor: pointer;
        border-radius: 1.5rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s;
        padding: 0.65rem;
        margin-bottom: 1rem;
        border: none;
        // box-shadow: 0 0 0 4px rgba(173, 216, 230, 0.5);
        transition: box-shadow 0.3s;

        img {
            position: absolute;
            height: 20px;
            width: auto;
            vertical-align: middle;
            right: 0.4rem;
        }
    }

    .microsoft-btn:hover {
        box-shadow: 0 0 0 2.5px var(--light-blue-transparent);
        background-color: var(--very-light-blue-back);
    }
}

