<mat-toolbar color="primary" class="mat-elevation-z3">
    <a [routerLink]="['/railway-system/user/departures-timetable']">
        <img src="./../../../../../assets/images/Icon-white.png" alt="Train" class="app-icon" />
    </a>

    <!-- Tabs -->
    <div class="spacer regular-links">
        <div>
            &nbsp;&nbsp;
            <a [routerLink]="['/railway-system/shared/departures-timetable']" routerLinkActive="active"
                >Home</a>
            <a *ngIf="loggedUser && !isAdmin" [routerLink]="['/railway-system/shared/departures-timetable']">Transactions</a>

        </div>

    </div>

    <!-- Button for log in and sign up-->
    <a *ngIf="!loggedUser" [routerLink]="['/railway-system/auth/login']" routerLinkActive="active" mat-button
        class="button-link" id="login">Log in</a>
    <a *ngIf="!loggedUser" [routerLink]="['/railway-system/auth/register']" routerLinkActive="active" mat-raised-button
        class="button-link a-sign-up">Sign up</a>
    
    <!-- Mat menu when logged in-->
    <div *ngIf="loggedUser" class="temp">
        <mat-icon class="mat-menu-icon" mat-button
        [matMenuTriggerFor]="menu">account_circle</mat-icon>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon color="primary">edit</mat-icon><span>Edit profile</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon color="primary">logout</mat-icon><span>Log out</span>
        </button>
    </mat-menu>

</mat-toolbar>
