.spacer {
    flex: 1 1 auto;
}

.temp {
    position: relative;
    display: inline-block;
}

.bottomRight {
    bottom: 0;
    right: 0;
}

.app-icon {
    margin-top: 0.6rem;
    height: 3.5rem;
    width: 3.5rem;
}

a.a-sign-up {
    background-color: white;
    border-radius: 1rem;
    padding: 0.4rem;
    color: var(--lightest-navy);
}

#login {
    padding: 0.4rem;
}

#login:hover {
    border-radius: 1rem;
    border: 3px solid white;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

.button-link {
    font-size: 1.1rem;
    padding: 0.4rem;
}

.regular-links a:hover {
    text-decoration: underline;
    text-decoration-color: var(--deep-blue);
    text-decoration-thickness: 0.15rem;
}

.mat-menu-icon {
    vertical-align: middle;
    transform: scale(1.5);
    margin-right: 1rem;
}

.bell-icon {
    margin-right: 1rem;
    position: relative;
}

.bell-icon mat-icon {
    color: white;
    margin-top: 0.5rem;
    transform: scale(1.1);
    vertical-align: middle;
}

.notification-content {
    margin: 0.5rem;
    padding: 0.2rem;
    min-height: 2rem;
    color: var(--lightest-navy);
}

::ng-deep .bell-notifications-menu {
    max-height: 18rem !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.notification-row {
    border-radius: 0.4rem;
    padding: 0.2rem;
    cursor: pointer;
}

.notification-row:hover {
    background-color: var(--lightest-slate);
}

.badge {
    box-sizing: border-box;
    position: absolute;
    min-width: 1.4rem;
    min-height: 1.4rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.125rem;
    border-radius: 1rem;

    top: 0;
    left: 0.8rem;
    background: var(--gray);
    color: var(--lightest-navy);
    font-weight: bold;
}

.badge span {
    position: relative;
    top: -0.4rem;
}