<div class="registration-container passwords-container">

    <h2 class="center-content">Change your password</h2>
    <form color="primary" [formGroup]="passwordsForm">

        <div class="center-content">

            <mat-form-field class="password-field" appearance="fill">
                <mat-label>Current Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword" name="oldPassword"
                    placeholder="Enter your current password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon class="mat-icon-deep-blue">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="
                                                passwordsForm.get('oldPassword')?.hasError('minlength') ||
                                                passwordsForm.get('oldPassword')?.hasError('pattern') &&
                                                !passwordsForm.get('oldPassword')?.hasError('required')
                                              ">
                    Password should contains at least 6 characters(at least 1 num and special character)
                </mat-error>
                <mat-error *ngIf="passwordsForm.get('oldPassword')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

        </div>
    
        <div class="center-content">
    
            <mat-form-field class="password-field" appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" name="newPassword"
                    placeholder="Enter new password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon class="mat-icon-deep-blue">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="
                                    passwordsForm.get('newPassword')?.hasError('minlength') ||
                                    passwordsForm.get('newPassword')?.hasError('pattern') &&
                                    !passwordsForm.get('newPassword')?.hasError('required')
                                  ">
                    Password should contains at least 6 characters(at least 1 num and special character)
                </mat-error>
                <mat-error *ngIf="passwordsForm.get('newPassword')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
    
        </div>

        <div class="center-content">
            <mat-form-field class="password-field" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" name="password"
                    placeholder="Enter password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon class="mat-icon-deep-blue">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="
                                                            passwordsForm.get('confirmPassword')?.hasError('minlength') ||
                                                            passwordsForm.get('confirmPassword')?.hasError('pattern') &&
                                                            !passwordsForm.get('confirmPassword')?.hasError('required')
                                                          ">
                    Password should contains at least 6 characters(at least 1 num and special character)
                </mat-error>
                <mat-error *ngIf="passwordsForm.get('confirmPassword')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

    </form>

    <div class="center-content">
        <button (click)="update()" mat-raised-button color="primary">Update</button>
    </div>

</div>
