

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

.passwords-container {

    border: 3px solid var(--lightest-navy);
    background-color: var(--lightest-slate);
    border-radius: 1rem;
    padding: 0 1rem 2rem 1rem;
}