
.registration-container {

    h3 {
        font-weight: bold;
        font-size: 1.2rem;
    }

    mat-form-field {
        margin-top: 1rem;
        width: 30%;
        margin-left: 1.5rem;
    }

    .fields-row {
        width: 100%;
    }

    mat-form-field.last-row-fields {
        width: 19%;
    }

    button {
        margin-top: 0.8rem;
        font-size: 1.3rem;
        border-radius: 1rem;
    }

    p.login-link {
        margin-top: 0.7rem;
    }

}