
.status-containet {
    margin-top: 5%;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0 2rem 0;
    }

    p {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    .main-content {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    button {
        font-size: 1.3rem;
        padding: 1rem;
    }

    .footer {
        margin-top: 4rem;
    }
}